<%- include('./partials/head') %>
<%- include('./components/navbar') %>

    <main class="lg:ml-64 lg:pl-4 lg:w-75% mt-4 mx-4">
		<div class="bg-slate-800 rounded-md">
			<p class="text-center py-12 text-2xl min-h-[50vh]">Welcome to Dashboard</p>
		</div>
    </main>

<%- include('./partials/footer') %>