    <footer class="fixed w-full bottom-0 w-full z-50 bg-slate-800">
        <p class="py-2 text-center text-sm">
            ©2024 Fitri HY. All rights reserved.
        </p>
    </footer>

    <script src="/js/main.js"></script>
    <script>
        function showEditForm(item, index) {
            document.getElementById('editItem').value = item;
            document.getElementById('editIndex').value = index;
            document.getElementById('editFormContainer').style.display = 'block';
        }
    </script>
</body>
</html>
