<%- include('partials/head') %>
<%- include('components/navbar') %>

<main class="pt-24 pb-12 m-auto max-w-7xl p-4 text-center">
    <h1>Contact Us</h1>
    <p>This is the contact page.</p>
</main>

<%- include('partials/footer') %>
